node_modules/
build/
dist/
api/index.mjs
coverage/
.turbo/
.vercel/
*.tsbuildinfo

.DS_Store
Thumbs.db
*.log
npm-debug.log*
yarn-error.log*

.env*
!.env.example

.vscode/*
!.vscode/extensions.json
.idea/

*.swp
*.swo
